.accordion-item {
  padding: 150px;
}
.accordion {
  background-color: #176b87;
  color: white;
  cursor: pointer;
  padding: 15px;
  width: 140vh;
  border: none;
  text-align: center;
  outline: none;
  font-size: 20px;
  transition: 0.4s;
  font-style: italic;
  font-weight: 600;
  margin-left: 10vh;
  margin-right: 20vh;
}

.active,
.accordion:hover {
  background-color: rgba(23, 107, 135, 0.4);
}

.panel {
  padding: 5px 18px;
  display: none;
  background-color: white;
  overflow: hidden;
  width: 130vh;
  text-align: justify;
  margin-left: 10vh;
  margin-right: 20vh;
  font-size: 15px;
}
h2 {
  color: rgb(8, 8, 109);
  text-align: center;
  margin-bottom: 50px;
  text-transform: uppercase;
}
